<!DOCTYPE html>
<html lang="en">
<meta http-equiv="refresh" content="10">
<head>
    <meta charset="UTF-8">
    <title>Monitoring cources</title>
</head>
<body>
    <form  method="post">
        {{ form.as_p }}
    </form>
    <header>Current cource for currency pairs</header>
    {% for pair in pairs %}
        <ul>{{ pair.first_currency_long }} to {{ pair.second_currency_long }}
            <li>{{ pair.cource }}</li>
        </ul>
    {% endfor %}
    <a href="{% url 'add' %}" >Add</a>
</body>
</html>